.myContain{
    font-size: 3vh;
    font-family: 'Courier New', monospace;
    align-items: center;
    justify-content: center;
    background: rgb(105,3,101);
    background: linear-gradient(45deg, rgba(105,3,101,1) 0%, rgba(3,3,50,1) 50%, rgba(29,32,149,1) 100%);
}

#welcomeImage{
    margin:auto;
    height: 25vh;
    width: 150vh;
}
.firstCollect{
    height:30vh;
}
.carousel {
    width:70%;
    height:50vh;
}
#headImage{
    width: 70%;
    height: 50vh;
}
#featuredText{
    font-weight: bold;
    color:aqua;
    font-size: 5vh;
}
#footerP{
    font-size: 3vh;
    color: cyan;
    
}
.row{
    width: 100%
}
h6{
    font-size: 3vh;
}