#titleText{
    color:white;
    text-align: center;
    font-size: 5vh;
}
.descriptionBox{
    background: rgb(105,3,101);
    background: linear-gradient(45deg, rgb(85, 3, 82) 0%, rgba(3,3,50,1) 50%, rgba(29,32,149,1) 100%);
    background-repeat: no-repeat;
    color: white;
}
.utilityBar{
    text-align: center;
}